*
{
    margin:0;
    padding:0;
}

.detail{
    margin-top: 25px;
    margin-left: 36px;
}
body{
    background-image: url(../pexels-josh-sorenson-1714205.jpg);
    background-repeat: no repeat;
    background-size: 100%;
    background-attachment: fixed;
}
#name{
    
}

#email{
    
    margin-top: 13px;
}
#roll {
    margin-top:13px;
    
    
}
.form
{  
    border: 1px solid rgba(207, 204, 204, 0.438);
    width: 311px;
    margin: auto;
    height: 205px;
    border-radius: 7px;
    background-color: rgba(5, 5, 8, 0.219);
    
}
#form1
{
    margin-top:166px;
}
input[type="number"]::placeholder{
    padding-left: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="text"]::placeholder{
    padding-left: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="email"]::placeholder{
    padding-left: 24px;  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#submit
{
    border: 1px solid rgb(248, 245, 245);
    border-radius: 3px;
    margin-top:21px;
    width: 54px;
    height: 25px;
    background-color: rgba(224, 205, 193, 0.103);
    color:white;
}
label{
    color: white;
}
h4{
    color: white;
}
#submit:hover{
    background-color: rgb(2, 153, 10);
    width: 61px;
    border:1px solid white;
    border-radius:4px;
    cursor:pointer;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(226, 250, 10);
}

#name{
    font-family:sans-serif;
    padding-left:14px;
    padding-top:1px;
    padding-bottom:1px;
    
}
#roll{
    font-family:sans-serif;
    padding-left:14px;
    padding-top:1px;
    padding-bottom:1px;
}
#email{
    font-family:sans-serif;
    padding-left:14px;
    padding-top:1px;
    padding-bottom:1px;
}
@media (max-width: 480px) {
    body {
        background-image: url(../pexels-dương-nhân-1529881.jpg);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url(../pexels-dương-nhân-1529881.jpg);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }
}

@media (max-width: 360px){
    #form1 {
        margin-top: 202px;

    }
}
@media (max-width: 480px){
    #form1 {
        margin-top: 238px;
        
    }
}






